$small-min: 0px !default;
$small-max: 639px !default;
$medium-min: 640px !default;
$medium-max: 1023px !default;
$large-min: 1024px !default;
$large-max: 1439px !default;
$xlarge-min: 1440px !default;
$xlarge-max: 1920px !default;
$xxlarge-min: 1921px !default;

$small-range: $small-min $small-max !default;
$medium-range: $medium-min $medium-max !default;
$large-range: $large-min $large-max !default;
$xlarge-range: $xlarge-min $xlarge-max !default;
//$xxlarge-range: 1921px, 999999px !default;
