$color-published: desaturate(lighten(green, 50%), 40%);
$color-unpublished: lighten(red, 35%);
$color-message: #333;
$color-error: #c89999;
$color-success: #628b1c;

// spysass variables
$base-font-size: 14px;
$body-font-family: 'Arial', sans-serif;
$body-bg: #f1f4f8;
$base-color: #0075a2;
$color-red: #c84f45;
$nav-bg: #2b333d;
$input-padding: 14px 12px;
$form-valid-color: $base-color;
$form-invalid-color: $color-red;
$form-valid-icon: url('/img/admin/form-valid.svg');
$form-invalid-icon: url('/img/admin/form-invalid.svg');
$global-padding: 15px;
