// ---------------------------------------------------------------------------
@mixin fadeIn {
@include keyframes(fadeIn) {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInUp {
@include keyframes(fadeInUp) {
  0% {
    @include translateY(20px);
    opacity: 0; }
  100% {
    @include translateY(0);
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInDown {
@include keyframes(fadeInDown) {
  0% {
    @include translateY(-20px);
    opacity: 0; }
  100% {
    @include translateY(0);
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInRight {
@include keyframes(fadeInRight) {
  0% {
    @include translateX(20px);
    opacity: 0; }
  100% {
    @include translateX(0);
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInLeft {
@include keyframes(fadeInLeft) {
  0% {
    @include translateX(-20px);
    opacity: 0; }
  100% {
    @include translateX(0);
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInUpBig {
@include keyframes(fadeInUpBig) {
  0% {
    @include translateY(2000px);
    opacity: 0; }
  100% {
    @include translateY(0);
    opacity: 1; } }
}

// ---------------------------------------------------------------------------
@mixin fadeInDownBig {
@include keyframes(fadeInDownBig) {
  0% {
    opacity: 0;
    @include translateY(-2000px); }
  100% {
    opacity: 1;
    @include translateY(0); } }
}

// ---------------------------------------------------------------------------
@mixin fadeInRightBig {
@include keyframes(fadeInRightBig) {
  0% {
    opacity: 0;
    @include translateX(2000px); }
  100% {
    opacity: 1;
    @include translateX(0); } }
}

// ---------------------------------------------------------------------------
@mixin fadeInLeftBig {
@include keyframes(fadeInLeftBig) {
  0% {
    opacity: 0;
    @include translateX(-2000px); }
  100% {
    opacity: 1;
    @include translateX(0); } }
}
// ---------------------------------------------------------------------------
@mixin fadeOut {
@include keyframes(fadeOut) {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutUp {
@include keyframes(fadeOutUp) {
  0% {
    @include translateY(0);
    opacity: 1; }
  100% {
    @include translateY(-20px);
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutDown {
@include keyframes(fadeOutDown) {
  0% {
    @include translateY(0);
    opacity: 1; }
  100% {
    @include translateY(20px);
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutRight {
@include keyframes(fadeOutRight) {
  0% {
    @include translateX(0);
    opacity: 1; }
  100% {
    @include translateX(20px);
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutLeft {
@include keyframes(fadeOutLeft) {
  0% {
    @include translateX(0);
    opacity: 1; }
  100% {
    @include translateX(-20px);
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutUpBig {
@include keyframes(fadeOutUpBig) {
  0% {
    @include translateY(0);
    opacity: 1; }
  100% {
    @include translateY(-2000px);
    opacity: 0; } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutDownBig {
@include keyframes(fadeOutDownBig) {
  0% {
    opacity: 1;
    @include translateY(0); }
  100% {
    opacity: 0;
    @include translateY(2000px); } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutRightBig {
@include keyframes(fadeOutRightBig) {
  0% {
    opacity: 1;
    @include translateX(0); }
  100% {
    opacity: 0;
    @include translateX(2000px); } }
}

// ---------------------------------------------------------------------------
@mixin fadeOutLeftBig {
@include keyframes(fadeOutLeftBig) {
  0% {
    opacity: 1;
    @include translateX(0); }
  100% {
    opacity: 0;
    @include translateX(-2000px); } }
}
