
@if load-module('flex-grid', 'components') {
	$global-gutter: 30px !default;
	.column, .row {
		display: flex;
		> * {
			flex: 1 0 0px;
			margin: 0 $global-gutter / 2;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.column {
		flex-direction: column;
	}

	$tmp: register-module();
}
