@if load-module('media-queries', 'components') {
  // Need to be in pixels for IE8
  $small-range: 0px, 639px !default !global;
  $medium-range: 640px, 1023px !default !global;
  $large-range: 1024px, 1439px !default !global;
  $xlarge-range: 1440px, 1920px !default !global;
  $xxlarge-range: 1921px, 999999px !default !global;

  //
  // Media Queries
  //

  $screen: 'only screen' !default !global;
  $small-only: '#{$screen} and (min-width: #{min($small-range...)}) and (max-width: #{max($small-range...)})' !default !global;
  $small-up: '#{$screen} and (min-width: #{min($small-range...)})' !default !global;
  $medium-only: '#{$screen} and (min-width: #{min($medium-range...)}) and (max-width: #{max($medium-range...)})' !default !global;
  $medium-up: '#{$screen} and (min-width: #{min($medium-range...)})' !default !global;
  $medium-down: '#{$screen} and (max-width: #{max($medium-range...)})' !default !global;
  $large-only: '#{$screen} and (min-width: #{min($large-range...)}) and (max-width: #{max($large-range...)})' !default !global;
  $large-up: '#{$screen} and (min-width: #{min($large-range...)})' !default !global;
  $large-down: '#{$screen} and (max-width: #{max($large-range...)})' !default !global;
  //$xlarge-only: "only screen and (min-width: #{min($xlarge-range...)})" !global !default;
  $xlarge-up: '#{$screen} and (min-width: #{min($xlarge-range...)})' !default !global;
  $landscape: '#{$screen} and (orientation: landscape)' !default !global;
  $portrait: '#{$screen} and (orientation: portrait)' !default !global;

  $tmp: register-module();
}
