@if load-module('media-queries', 'components') {
	// Need to be in pixels for IE8
	$small-range: 0px, 639px !global !default;
	$medium-range: 640px, 1023px !global !default;
	$large-range: 1024px, 1439px !global !default;
	$xlarge-range: 1440px, 1920px !global !default;
	$xxlarge-range: 1921px, 999999px !global !default;

	//
	// Media Queries
	//

	$screen: "only screen" !global !default;
	$small-only: "#{$screen} and (min-width: #{min($small-range...)}) and (max-width: #{max($small-range...)})" !global !default;
	$small-up: "#{$screen} and (min-width: #{min($small-range...)})" !global !default;
	$medium-only: "#{$screen} and (min-width: #{min($medium-range...)}) and (max-width: #{max($medium-range...)})" !global !default;
	$medium-up: "#{$screen} and (min-width: #{min($medium-range...)})" !global !default;
	$medium-down: "#{$screen} and (max-width: #{max($medium-range...)})" !global !default;
	$large-only: "#{$screen} and (min-width: #{min($large-range...)}) and (max-width: #{max($large-range...)})" !global !default;
	$large-up: "#{$screen} and (min-width: #{min($large-range...)})" !global !default;
	$large-down: "#{$screen} and (max-width: #{max($large-range...)})" !global !default;
	//$xlarge-only: "only screen and (min-width: #{min($xlarge-range...)})" !global !default;
	$xlarge-up: "#{$screen} and (min-width: #{min($xlarge-range...)})" !global !default;
	$landscape: "#{$screen} and (orientation: landscape)" !global !default;
	$portrait: "#{$screen} and (orientation: portrait)" !global !default;

	$tmp: register-module();
}
