@if load-module('forms', 'mixins') {
	// NOTE does not set border, $border is only used for calculations

	// setting $height and $vertical-padding will use $font-size and overwrite
	// any values set to the other variable ie $height overrides
	// $vertical-padding and the other way around. $height takes precedence
	@mixin input-size(
		$height: false,
		$padding: false,
		$border: 0rem,
		$spacing: 0,
		$font-size: 1rem 
	) {
		@if $height == false and $padding == false {
			@error  "You HAVE to supply at least one of the following: $height, $padding.";
		}


		@if $padding == false {
			$padding: 0 0;
		} @else if type-of($padding) != "list" {
			$padding: $padding $padding;
		}

		$font-size: rem($font-size);
		$border: rem($border);

		@if $height != false {
			$height: rem($height);

			$padding: ($height - $font-size - $border * 2) / 2 nth($padding, 2);
		} @else {
			$padding: rem($padding);

			$height: nth($padding, 1) * 2 + $border * 2 + $font-size;
		}

		display: block;
		padding: 0 nth($padding, 2);
		margin: 0 0 $spacing 0;
		font-size: $font-size;
		height: $height;
		width: 100%;
	} 

	$tmp: register-module();
}
