//
// Base Variables
//

$base-font-size: 16px !default;
$default-float: left !default;
$opposite-direction: right !default;
$text-direction: left !default;

$base-color: #0066c6 !default;

// This needs to be a px value since rem and em-calc use it. It is translated
// to a percante unit for html and body font-sizing like so: strip-unit($base-font-size) / 16 * 100%;
$base-line-height: 1.6 !default;
$base-line-height-computed: $base-line-height * 1rem !default;

$body-font-color: #222 !default;
$body-font-family: 'Times New Roman', sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;
$body-bg: #fff !default;

//
// Base Styling
//

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: $base-font-size;
}

// Default body styles
body {
  background: $body-bg;
  color: $body-font-color;
  padding: 0;
  margin: 0;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-style: $body-font-style;
  line-height: $base-line-height; // Set to $base-line-height to take on browser default of 150%
  position: relative;
}

img,
object,
embed {
  max-width: 100%;
  height: auto;
}

object,
embed {
  height: 100%;
}

// Get rid of gap under images by making them display: inline-block; by default
img {
  display: inline-block;
  vertical-align: middle;
}
