$spytext-button-vertical-padding: 10px;
$spytext-button-horizontal-padding: 20px;
$spytext-button-inner-height: 16px;
$spytext-button-height: $spytext-button-inner-height + $spytext-button-vertical-padding * 2;

$spytext-button-background: #E9E9E9;
$spytext-button-hover-background: darken($spytext-button-background, 7%);
$spytext-button-active-background: darken($spytext-button-hover-background, 7%);

$spytext-dropdown-background: $spytext-button-background;
$spytext-dropdown-padding: $spytext-button-horizontal-padding;
$spytext-dropdown-text-color: #000;
$spytext-dropdown-disabled-text-color: #000;
$spytext-dropdown-item-border-color: darken($spytext-dropdown-background, 10%);
$spytext-dropdown-item-active-background: $spytext-button-active-background;

$spytext-toolbar-vertical-padding: 5px;
$spytext-toolbar-horizontal-padding: 5px;
$spytext-toolbar-height: $spytext-button-height + $spytext-toolbar-vertical-padding * 2;

$spytext-toolbar-border-color: #ddd;

$spytext-toolbar-background: #eee;
