@import 'compass/reset';
@import 'compass/css3';
@import 'compass/utilities';
@import 'spysass';

// import user defined spysass variables.
@import 'spysass_variables';
@import 'spysass/components/flex_grid';
@import 'spysass/components/type';
@import 'spysass/themes/form/foundation';

@import 'layout';
@import 'styles';
.frontNav {
	a {
		line-height: 1;
		border: 5px solid white;
		padding: 0;
		margin: 0;
		float: left;
		display: block;
		width: 12.5%;
		height: 100px;
		padding-top: (100px - 14 - 5 * 2) / 2;
		text-align: center;
		background: #ddd;
	}
}
table {
	width: 100%;
	tr.form {
		display: none;
	}
}
