.message {
	padding: 20px;
	margin-bottom: 10px;

	width: 100%;
	@include border-radius(5px);
	background: lighten($color-message, 47%);
	color: $color-message;
	border: 1px solid lighten($color-message, 20%);
	color: #777;
	> h4 {
		color: inherit;
		font-size: 1.2em;
		margin: 0;
		+ p {
			margin-top: 4px;
		}
	}
	> p {
		color: inherit;
		margin: 0;
	}
	&.error {
		background: lighten($color-error, 47%);
		color: $color-error;
		border-color: lighten($color-error, 20%);
	}
	&.success {
		background: lighten($color-success, 47%);
		color: $color-success;
		border-color: lighten($color-success, 20%);
	}
}
input[type="submit"], input[type="button"], .button, button {
	@include button-clean-gray;
	&.small {
		@include button-size($size: 'small');
	}
	&.large {
		@include button-size($size: 'large');
	}
}
