.c {
	input:not([type="radio"]):not([type="checkbox"]), textarea {
		width: 100%;
	}
}
[contentEditable="true"] {
	padding: 5px;
	border: 1px dashed black;
}
.message {
	padding: 20px;
	margin-bottom: 10px;

	width: 100%;
	@include border-radius(5px);
	background: lighten($color-message, 47%);
	color: $color-message;
	border: 1px solid lighten($color-message, 20%);
	color: #777;
	> h4 {
		color: inherit;
		font-size: 1.2em;
		margin: 0;
		+ p {
			margin-top: 4px;
		}
	}
	> p {
		color: inherit;
		margin: 0;
	}
	&.error {
		background: lighten($color-error, 47%);
		color: $color-error;
		border-color: lighten($color-error, 20%);
	}
	&.success {
		background: lighten($color-success, 47%);
		color: $color-success;
		border-color: lighten($color-success, 20%);
	}
}
