$sayer-button-vertical-padding: 10px;
$sayer-button-horizontal-padding: 20px;
$sayer-button-inner-height: 16px;
$sayer-button-height: $sayer-button-inner-height + $sayer-button-vertical-padding * 2;

$sayer-button-background: #E9E9E9;
$sayer-button-hover-background: darken($sayer-button-background, 7%);
$sayer-button-active-background: darken($sayer-button-hover-background, 7%);

$sayer-dropdown-background: $sayer-button-background;
$sayer-dropdown-padding: $sayer-button-horizontal-padding;
$sayer-dropdown-text-color: #000;
$sayer-dropdown-disabled-text-color: #000;
$sayer-dropdown-item-border-color: darken($sayer-dropdown-background, 10%);
$sayer-dropdown-item-active-background: $sayer-button-active-background;

$sayer-toolbar-vertical-padding: 5px;
$sayer-toolbar-horizontal-padding: 5px;
$sayer-toolbar-height: $sayer-button-height + $sayer-toolbar-vertical-padding * 2;

$sayer-toolbar-border-color: #ddd;

$sayer-toolbar-background: #eee;
