//
// Base Variables
//

$include-reset: true !default;
$include-normalize: false !default;

$make-image-inline-block: false !default;
$default-float: left !default;
$opposite-direction: right !default;
$text-direction: left !default;
$global-radius: 0 !default;
$make-image-inline-block: false !default;

$color-main-1: #0066c6 !default;
$color-message: #333 !default;
$color-error: #c90000 !default;
$color-success: #628b1c !default;

// This needs to be a px value since rem and em-calc use it. It is translated
// to a percante unit for html and body font-sizing like so: strip-unit($base-font-size) / 16 * 100%;
$base-font-size: 16px !default;
$base-line-height: 1.6 !default;
$base-line-height-computed: $base-line-height * 1rem !default;

$body-font-color: #222 !default;
$body-font-family: "Times New Roman", sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;
$body-bg: #fff !default;

$font-smoothing: subpixel-antialiased !default;

@if $include-reset {
	@import "reset";
}
@if $include-normalize {
	@import "normalize";
}

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html, body { font-size: $base-font-size; }

// Default body styles
body {
	background: $body-bg;
	color: $body-font-color;
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-style: $body-font-style;
	line-height: $base-line-height; // Set to $base-line-height to take on browser default of 150%
	position: relative;
}

// Override outline from normalize, we don't like it
a:focus { outline: none; }

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

@if $make-image-inline-block {
	// Get rid of gap under images by making them display: inline-block; by default
	img {
		display:inline-block;
		vertical-align: middle;
	}
}

#map_canvas,
.map_canvas {
	img,
	embed,
	object { max-width: none !important; }
}

// Miscellaneous useful HTML classes
.clear-both	{ clear: both !important; }
.clear-left	{ clear: left !important; }
.clear-right	{ clear: right !important; }
.float-left	{ float: left !important; }
.float-right	{ float: right !important; }
.text-left	{ text-align: left !important; }
.text-right	{ text-align: right !important; }
.text-center	{ text-align: center !important; }
.text-justify	{ text-align: justify !important; }
.hide   { display: none; }//hide
.no-margin	{ margin: 0 !important; }

// Classes for help with CSS3 animation

[data-dynamic-height], [data-dynamic-width]	{ overflow: hidden; }
.min		{ height: 0 !important; }
