body, html {
	height: 100%;
	> .col {
		min-height: 100%;
	}
}
.row, .col {
	display: flex;
    &.wrap {
        flex-wrap: wrap;
    }
	//&.justify-start { justify-content: flex-start; }//(default): items are packed toward the start line
	&.justify-end { justify-content: flex-end; }//items are packed toward to end line
	&.justify-center { justify-content: flex-center; }//items are centered along the line
	&.justify-space-between { justify-content: space-between; }//items are evenly distributed in the line; first item is on the start line, last item on the end line
	&.justify-space-around { justify-content: space-around; }//items are evenly distributed in the line with equal space around them
	&.align-start {align-items: flex-start; }//cross-start margin edge of the items is placed on the cross-start line
	&.align-end { align-items: flex-end; }//cross-end margin edge of the items is placed on the cross-end line
	&.align-center { align-items: center; }//items are centered in the cross-axis
	&.align-baseline { align-items: baseline; }//items are aligned such as their baselines align
	//&.align-stretch { align-items: stretch; }//(default): stretch to fill the container (still respect min-width/max-width)
    &.base-flex-2 {
        > .cell {
            flex: 2;
        }
    }
    &.base-flex-3 {
        > .cell {
            flex: 3;
        }
    }
    &.base-flex-4 {
        > .cell {
            flex: 4;
        }
    }
    &.base-flex-5 {
        > .cell {
            flex: 5;
        }
    }

	> .cell {
		flex: 1;
        &.flex-2 {
            flex: 2;
        }
        &.flex-3 {
            flex: 3;
        }
        &.flex-4 {
            flex: 4;
        }
        &.flex-5 {
            flex: 5;
        }
		&.static {
			flex: none;
		}
	}
}
.row {
}
.col {
	flex-direction: column;
}
