$make-image-inline-block: false !default;

$body-bg: #fff !default;
$body-font-color: #222 !default;
$body-font-family: "Times New Roman", sans-serif !default;
$body-font-weight: normal !default;
$body-font-style: normal !default;

$font-smoothing: subpixel-antialiased !default;

$global-radius: 5px !default;

*,
*:before,
*:after {
	@include box-sizing(border-box);
}

html,
body { font-size: $base-font-size; }

// Default body styles
body {
	background: $body-bg;
	color: $body-font-color;
	padding: 0;
	margin: 0;
	font-family: $body-font-family;
	font-weight: $body-font-weight;
	font-style: $body-font-style;
	line-height: 1; // Set to $base-line-height to take on browser default of 150%
	position: relative;
}

// Override outline from normalize, we don't like it
a:focus { outline: none; }

// Grid Defaults to get images and embeds to work properly
img,
object,
embed { max-width: 100%; height: auto; }

object,
embed { height: 100%; }
img { -ms-interpolation-mode: bicubic; }

@if $make-image-inline-block {
	// Get rid of gap under images by making them display: inline-block; by default
	img {
		display:inline-block;
		vertical-align: middle;
	}
}

#map_canvas,
.map_canvas {
	img,
	embed,
	object { max-width: none !important; }
}

// Miscellaneous useful HTML classes
.clear-both	{ clear: both !important; }
.clear-left	{ clear: left !important; }
.clear-right	{ clear: right !important; }
.float-left	{ float: left !important; }
.float-right	{ float: right !important; }
.text-left	{ text-align: left !important; }
.text-right	{ text-align: right !important; }
.text-center	{ text-align: center !important; }
.text-justify	{ text-align: justify !important; }
.hide   { display: none; }//hide
.no-margin	{ margin: 0 !important; }

// Classes for help with CSS3 animation

.dynamic-height, .dynamic-width	{ overflow: hidden; }
.min		{ height: 0 !important; }

// Font smoothing
// Antialiased font smoothing works best for light text on a dark background.
// Apply to single elements instead of globally to body.
// Note this only applies to webkit-based desktop browsers on the Mac.
.antialiased { -webkit-font-smoothing: antialiased; }
