@import "functions/util";

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

body > header {
	height: 60px;
	flex-shrink: 0;
	background: black;
	.company {
		display: none;
		padding: 10px;
		> h1 {
			margin: 0;
			color: white;
		}
	}
	.user {
		position: absolute;
		height: 100%;
		background: #333;
		color: white;
		top: 0;
		bottom: 0;
		right: 40px;
	}
	#user-box {
		color: white;
		float: right;
		margin-right: 20px;
		p {
			margin: 0;
			padding: 0;
		}
		a {
			color: blue;
		}
	}
}

body > div.container {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
	> nav {
		$width: 80px;
		$sub-width: 120px;
		flex-shrink: 0;
		//width: $width;
		background-color: #555;
		position: relative;
		//transition: margin 0.5s, width 0.5s;

		ul {
			@include wipe-list;
		}

		> ul {
			line-height: 1;
			> li {
				width: $width;
				height: 70px;
				border-bottom: 1px solid #777;
				transition: margin 0.5s;
				> a {
					text-decoration: none;
					background-color: #555;
					height: 100%;
					width: 100%;
					display: block;
					color: white;
					color: test();
					font-size: 14px;
					transition: background 0.5s;
					&:before {
						content: "";
						display: block;
						width: 100%;
						height: 50px;
						background-position: center center;
						background-repeat: no-repeat;

					}
					> span {
						display: block;
						height: 20px;
						overflow: hidden;
						width: 100%;
						text-align: center;
					}
				}
				> ul {
					display: block;
					position: absolute;
					overflow: hidden;
					left: $width;
					top: 0;
					width: 0;
					background: #777;
					height: 100%;
					transition: width 0.5s;
					> li {
						line-height: 1;
						width: $sub-width;
						border-bottom: 1px solid #999;
						a {
							transition: background 0.5s;
							color: white;
							text-decoration: none;
							display: block;
							padding: 5px 0px 5px 5px;
							background: #777;
						}
						&.current, &:hover {
							> a {
								background-color: #aaa;
							}
						}
					}
				}
				@import "images/navigation";
				&.current, &:hover {
					> a {
						background-color: #777;
					}
				}

				&.current {
					&.sub {
						//width: $sub-width + $width;
						margin-right: $sub-width;
					}
					> ul {
						width: $sub-width;
					}
				}
			}
		}
	}
	> main {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		> .page {
			flex-grow: 1;
		}
	}
}

.page {
	padding: $global-padding;
	position: relative;
	&.crud {
		padding: 0;
		overflow: visible;
		height: 100%;
		display: flex;
		align-items: stretch;
		.form {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			overflow: hidden;
			header {
				background: #eee;
				padding: 0 0 0 $global-padding;
				position: relative;
				border-bottom: 1px solid #999;
				box-shadow: 0 5px 0px 0px rgba(0,0,0,0.1);
				overflow: hidden;
				display: flex;
				h1 {
					margin: 0;
					flex-shrink: 1;
					flex-grow: 1;
				}
				.controls {
					flex-shrink: 0;
				}
			}
			form  {
				flex-grow: 1;
				flex-basis: 0;
				padding: $global-padding;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}

		.collection {
			> form {
				select {
					width: 100%;
				}
				> .buttons {
					@include clear;
					> button {
						float: left;
						&:first-child {
							margin-right: 10px;
						}
					}
				}
			}
			width: 400px;
			flex-shrink: 0;
			background: #ddd;
			overflow-x: hidden;
			overflow-y: auto;
			border-left: 1px solid #333;
			article, .model {
				&:hover {
					cursor: pointer;
				}
				padding: 15px;
				border-bottom: 1px solid white;
				position: relative;
				.controls {
					position: absolute;
					top: 0;
					right: 0;
				}

				&[data-published="false"] {
					background: $color-unpublished;
				}

				&[data-published="true"] {
					background: $color-published;
				}

				&.editing {
					background: white;
				}
				> header {
					h1 {
						font-size: rem(16);
						margin: 0;
						padding: 0;
						margin-right: 80px - $global-padding;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					ul {
						@include wipe-list;
						font-size: rem(12);
						color: #666;
						line-height: 1.2;
					}
				}
				> .content {
					display: none;
				}
			}
		}
	}
}

body > footer {
	width: 100%;
	height: 40px;
	flex-shrink: 0;
	background: black;
	color: white;
	text-align: center;
	padding: 5px 0 !important;
	a {
		color: white;
	}
}


