@if load-module('forms/foundation', 'themes') {
	@import 'functions/units';
	@import 'mixins/border';
	@import 'mixins/buttons';
	@import 'mixins/effects';
	@import 'mixins/forms';

	// Based on Foundation 5.3.0
	//
	// @variables
	//
	// We use this to set the base for lots of form spacing and positioning styles
	$form-spacing: rem(16) !default;

	// We use these to style the labels in different ways
	$input-font-family: inherit !default;
	$input-font-color: rgba(0,0,0,0.75) !default;
	$input-font-size: 1rem !default;//14px for base font size 16
	$input-bg-color: #fff !default;
	$input-padding: rem(8) !default;
	$input-focus-bg-color: scale-color(#fff, $lightness: -2%) !default;
	$input-border-color: scale-color(#fff, $lightness: -20%) !default;
	$input-focus-border-color: scale-color(#fff, $lightness: -40%) !default;
	$input-border-style: solid !default;
	$input-border-width: rem(1px) !default;
	$input-border-radius: $global-radius !default;
	$input-disabled-bg: #ddd !default;
	$input-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1) !default;
	$input-include-glowing-effect: true !default;

	// We use this to style the glowing effect of inputs when focused
	$glowing-effect-fade-time: 0.45s !default;
	$glowing-effect-color: $input-focus-border-color !default;

	// Select variables
	$select-bg-color: #fafafa !default;
	$select-hover-bg-color: scale-color($select-bg-color, $lightness: -3%) !default;

	@if length($input-padding) == 1 {
		$input-padding: $input-padding $input-padding;
	}

	$input-padding: rem($input-padding);

	$input-height: $input-font-size + (nth($input-padding, 1) + $input-border-width) * 2;

	/* We use this to get basic styling on all basic form elements */
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	select,
	textarea,
	.spytext-field {
		@include input-size(
			$height: $input-height,
			$padding: $input-padding,
			$border: $input-border-width,
			$font-size: $input-font-size,
			$spacing: $form-spacing
		);
		border: $input-border-width $input-border-style $input-border-color;
		appearance: none !important;
		background-color: $input-bg-color;
		font-family: $input-font-family;
		box-shadow: $input-box-shadow;
		color: $input-font-color;
		border-radius: 0;

		@if $input-include-glowing-effect {
			@include block-glowing-effect(focus, $glowing-effect-fade-time, $glowing-effect-color);
		}

		// Basic focus styles
		&:focus {
			background: $input-focus-bg-color;
			border-color: $input-focus-border-color;
			outline: none;
		}

		// Disabled background input background color
		&[disabled], fieldset[disabled] & { background-color: $input-disabled-bg; }
		@if $input-include-glowing-effect == false {
			transition: all 0.15s linear;
		}
	}

	textarea, [spytext-field], .spytext-field {
		padding: $input-padding;
		height: auto;
	}

	select {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 9.9999996 5.0000003"><path d="M0 0h10L5 5 0 0z" fill="#aaa" fill-rule="evenodd"/></svg>') !important;
		background-color: $select-bg-color !important;
		background-position: if($text-direction == 'rtl', 5px, calc(100% - 5px)) center !important;
		background-repeat: no-repeat !important;

		transition: background 0.5s;
		padding: 0 nth($input-padding, 2) - rem(4px);

		&:hover, &:focus {
			background-color: $select-hover-bg-color;
			border-color: $input-focus-border-color;
		}

		&:focus {
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 9.9999996 5.0000003"><path d="M10 5H0l5-5 5 5z" fill="#888" fill-rule="evenodd"/></svg>') !important;
		}
		&::-ms-expand {
				display:none;
		}
	}

	select, textarea {
		line-height: 1.6;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		display: inline-block;
		margin-#{$default-float}: $form-spacing * .5;
		margin-#{$opposite-direction}: $form-spacing;
		margin-bottom: 0;
		vertical-align: baseline;
	}

	/* Normalize file input width */
	input[type="file"] {
		width:100%;
	}

	div.container {
		margin-bottom: $form-spacing;
		position: relative;
		&.focus {

		}
		&.not-empty {
			input {
				padding-top: rem(10px);
			}
			textarea {
				padding-top: rem(10px) + nth($input-padding, 2);
			}
			> label.placeholder {
				display: block;
			}
			&.focus {
				> label.placeholder {
					color: blue;
				}
			}
		}
		> label.placeholder {
			display: none;
			color: #aaa;
			font-size: 11px;
			font-weight: bold;
			top: 7px;
			line-height: 1;
			position: absolute;
			left: $input-border-width;
			padding-left: nth($input-padding, 2);
		}
	}
}
